.advantages {
  margin: 0;
  padding: 50px 0 60px;
}

@media (min-width: 768px) {
  .advantages {
    padding: 55px 0 100px;
  }
}

@media (min-width: 1440px) {
  .advantages {
    padding: 100px 0 120px;
  }
}

.advantages__inner {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  .advantages__inner {
    width: 708px;
  }
}

@media (min-width: 1440px) {
  .advantages__inner {
    width: 1360px;
  }
}

.advantages__title {
  margin: 0 0 4px;
  padding: 0;
  color: rgba(120, 89, 207, 1);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.advantages__title-text {
  margin: 0 0 36px;
  padding: 0;
  color: rgba(51, 51, 51, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

@media (min-width: 768px) {
  .advantages__title-text {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 64px;
  }
}

@media (min-width: 1440px) {
  .advantages__title-text {
    margin-bottom: 80px;
  }
}

.advantages__list {
  display: grid;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .advantages__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 30px;
  }
}

@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 66px 0 0 0;
}

.advantages__item-speed {
  background: rgba(255, 255, 255, 1) url("./../../img/advantages/advantage-speed.svg") 50% 0 / 50px 56px no-repeat;
}

.advantages__item-convenience {
  background: rgba(255, 255, 255, 1) url("./../../img/advantages/advantage-convenience.svg") 50% 0 / 52px 56px no-repeat;
}

.advantages__item-cheerfulness {
  background: rgba(255, 255, 255, 1) url("./../../img/advantages/advantage-cheerfulness.svg") 50% 0 / 42px 56px no-repeat;
}

.advantages__item-environmental-friendliness{
  background: rgba(255, 255, 255, 1) url("./../../img/advantages/advantages-environmental-friendliness.svg") 50% 0 / 46px 56px no-repeat;
}

@media (min-width: 768px) {
  .advantages__item-environmental-friendliness {
    background-position: left 4px;
  }
}

@media (min-width: 768px) {
  .advantages__item {
    align-items: start;
    padding-left: 72px;
    padding-top: 0;
    background-position: top 0 left 0;
  }
}

@media (min-width: 1440px) {
  .advantages__item {
    align-items: center;
    padding-top: 77px;
    padding-left: 0;
    background-position: 50% 0;
  }
}

.advantages__item-inner-title {
  margin: 0 0 4px;
  padding: 0;
  color: rgba(51, 51, 51, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

@media (min-width: 768px) {
  .advantages__item-inner-title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media (min-width: 1440px) {
  .advantages__item-inner-title {
    margin-bottom: 11px;
  }
}

.advantages__item-inner-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .advantages__item-inner-text {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }
}

@media (min-width: 1440px) {
  .advantages__item-inner-text {
    text-align: center;
  }
}
