.swiper-pagination {
  display: none;
}

@media (min-width: 1440px) {
  .swiper-pagination {
    display: block;
  }
}

.swiper-pagination-bullet {
  position: relative;
  top: -56px;
  width: 62px;
  height: 4px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 1);
}

.swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active),
.swiper-pagination-bullet:focus-visible:not(.swiper-pagination-bullet-active) {
  background-color: rgba(144, 112, 236, 1);
}

.swiper-pagination-bullet-active {
  background-color: rgba(120, 89, 207, 1);
}
